* {
    margin:0;
    padding: 0;
}


#login-box {
width: 20%;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%);
justify-content: center;
text-align: center;
}

.top {
padding: 0.5rem;
background-color: #065BB6;
color: #fff;
text-align: center;
font-size: 14px;
border: solid 1px rgb(231, 227, 227);
border-radius: 6px 6px 0 0;
}

.form-box {
padding: 2rem 0.5rem;
border: solid 1px rgb(231, 227, 227);
border-radius: 6px;
}

h2 {
    margin: 1rem;
    color: #065BB6;
    font-size: 14px;
}

input {
    width: 80%;
    height: 1.5rem;
    margin: .5rem 0.5rem 1rem 0.5rem;
    padding: 0.1rem 0.5rem;
    border: solid 1px rgb(231, 227, 227);
    border-radius: 6px;
    font-size: 10px;
    opacity: 40%;

}
input:focus {
    color: #065BB6;
}

button {
    width: 85%;
    height: 1.8rem;
    margin: 1rem 0.5rem 3rem 0.5rem;
    padding: 0.2rem 2rem;
    border: solid #3FB02C;
    border-radius: 4px;
    background-color: #3FB02C;
    color:#fff;
}

a {
    text-decoration: none;
    color: #065BB6;
    font-size: 13px;
    font-weight: 700;
}